body {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 60%;
}

h1 {
    font-size: 4.2rem;
}

/* Botões */

#buttons-container {
    margin-bottom: 2rem;
}

#buttons-container button {
    border: none;
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
}

/* Jogo */

#container {
    width: 30rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 10rem;
    border: .5rem solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3 {
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}

#block-7, #block-8, #block-9 {
    border-bottom: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

/* Símbolos */

.x {
    font-size: 6.5rem;
    color: red;
    display: inline-block;
    line-height: 10rem;
}

.o {
    width: 5rem;
    height: 5rem;
    border: .5rem solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1.5rem;
}

/* Class HIDE */

.hide {
    display: none !important;
}
/* Placar */

#scoreboard-container {
    font-weight: bold;
    margin-top: 3rem;
    font-size: 2.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.score-box {
    display: inline-block;
    margin: 0 2rem;
}

#x-scoreboard {
    color: red;
    margin-right: .3rem;
}

#o-scoreboard {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border: .2rem solid green;
    border-radius: 50%;
    margin-right: .3rem;
}

/* Mensagem */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15rem;
    width: 50rem;
    font-size: 5rem;
    background-color: #000;
    color: #fff;
    padding: 2rem;
}